@charset "utf-8";
/* CSS Document */
h1 {
	text-align: center;
	vertical-align:center;
	font-size: 60px;
}

p {
	text-align:center;
}

div {
	text-align:center;
}

body {
	background: #860608;
	color: white;
}